.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #dddcd8;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: #551fdc;
}
.App-header {
  margin: 30px 0;
  display: block;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
}
